[project]
optional-dependencies = ["pytest", "black"]

[tool.pyright]
include = ["ormlite/"]
# typeCheckingMode = "strict"

reportUnusedImport = "information"
reportUnusedVariable = "information"
reportPrivateUsage = "error"
reportMissingTypeStubs = "warning"
reportMissingParameterType = "error"
reportSelfClsParameterName = "error"
