[tool.pyright]
include = ["ormlite/"]
# typeCheckingMode = "strict"

reportUnusedImport = "information"
reportUnusedVariable = "information"
reportPrivateUsage = "warning"
reportMissingTypeStubs = "warning"
reportMissingParameterType = "error"
