name: Validate package & publish
on:
  push:
    branches:
      - main

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: jakebailey/pyright-action@v1
        with:
          project: ./pyproject.toml
