name: Publish
on:
  push:
    branches:
      - main

env:
  PYTHON_VERSION: 3.11

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Python 
        uses: actions/setup-python@v4
        with:
          python-version: ${{env.PYTHON_VERSION}}
      - name: Install pytest
        run: |
          python -m pip install pytest
      - name: Test suite
        run: pytest src/spec

  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jakebailey/pyright-action@v1
        with: 
          version: 1.1.316
          python-version: 3.11

  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: 
      - pytest
      - pyright
    environment:
      name: pypi
      url: https://pypi.org/p/ormlite
    permissions:
      # mandatory for trusted publishing
      id-token: write
    steps: 
      - uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{env.PYTHON_VERSION}}
      - name: Package wheel
        run: |
          python3 -m build --wheel --sdist --outdir dist/
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
